.slideshow-container{
    max-width: 600px;
    margin: auto;
    position: relative;
}

header{
    height:100px;
    width:100%;
    display: flex ;
    align-items: center ;
    padding: 0 15px;
    background-color: #333333;
    color:lightgrey;
}
body{
    margin:0;
    padding: 0;
    background-color: darkgrey;

}
.header-content{
    margin-right: 30px;

}
.prev, .next{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

.next{
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.mySlides{
    text-align: center;
}

.text{
    color: #f2f2f2;
    font-size: 20px;
    padding: 8px 12px;
    position: relative;
    bottom: 90px;
}

.dot{
    cursor: pointer;
    height: 13px;
    width: 13px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover{
    background-color: #717171;
}

.fade{
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1s;
    animation-name: fade;
    animation-duration: 1s;
}

.preview {
    width: 200px;
    cursor: pointer;
}
.preview img {
    max-width: 100%;
}
.fullsize {
    position: fixed;
    z-index: 10;
    width: 100vw !important;
    height: 100vh;
    top: 0;
    left: 0;
}
.preview.fullsize img {
    max-width: none;
}


@-webkit-keyframes fade {
    from{opacity:.4}
    to{opacity: 1}
}
@keyframes fade {
    from{opacity:.4}
    to{opacity: 1}
}





















